@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --default-font-family: "Times", "Times New Roman", serif;
  --font-serif: "Times", "Times New Roman", serif;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
