.newsletter {
    min-height: 100vh;

    & .info {
    }

    & .date {
        color: var(--color-muted);
        text-align: right;
    }

    & .subtitle {
        color: var(--color-muted);
    }

    & .handle {
        color: var(--color-primary);
    }

    & .subscribe {
        --color-placeholder: var(--color-surface);
        --color-border: var(--color-surface);

        margin: 1em 0;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
        color: var(--color-surface);
        background-color: var(--color-primary);
        grid-column-start: 1;
        grid-column-end: 4;
        min-height: 18em;

        & p {
            text-align: center;
        }

        & a {
            text-decoration: underline;
        }
    }
}
