.dashboard {
    display: grid;
    grid-template-columns: 1fr 4fr;

    & nav {
        text-align: right;
        text-decoration: underline;
        display: flex;
        flex-direction: column;
        justify-content: end;

        & .logo {
            grid-area: 1 / 1 / 4 / 4;
            background-color: var(--color-surface);
            height: 100%;
        }

        & .posts {
            grid-area: 1 / 4 / 2 / 6;
        }

        & .subscribers {
            grid-area: 1 / 7 / 2 / 9;
        }

        & .settings {
            grid-area: 1 / 10 / 2 / 12;
        }
    }



}
