.preview-view {
    header {
        z-index: 10;
        top: 0;
        position: sticky;
        background-color: var(--color-surface);
        height: 4em;

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em 2em;
    }
    & .emails {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 4em auto;
    }

    & article {
        display: grid;
        grid-template-columns: 1fr min(70ch, 100%) 1fr;

        & > * {
            grid-column-start: 2;
            padding: 0 0.5em;
        }
    }
}
